@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

*{
    font-family: outfit;
}

.active hr{
    @apply block;
}

::-webkit-scrollbar{
    @apply hidden;
}

.primary{
    background-color: #5f6FFF;
}

.opgrid{
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(200px , 1fr));
}

@media(max-width:740px){
    .active p{
        @apply text-white bg-violet-500;
    }
}